<a href="https://colab.research.google.com/github/Isom99/cursodeGit/blob/master/Arbol_Car.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('car.csv', header = None)

In [ ]:
data.columns = ['precio','mantenimiento', 'n_puertas', 'pasajeros', 't_maleta', 'seguridad', 'clase']

In [ ]:
data.sample(5)

      precio  mantenimiento  n_puertas  pasajeros  t_maleta  seguridad  clase
876        2              4          1          2         2          1  unacc
241        4              2          1          3         3          2    acc
1592       1              2          3          3         3          3  vgood
1200       2              1          1          2         2          1  unacc
1069       2              3          4          2         3          2    acc

Convertimos las variables a valores numericos

In [ ]:
data.precio.replace(('vhigh', 'high', 'med', 'low'), (4,3,2,1), inplace = True)
data.mantenimiento.replace(('vhigh', 'high', 'med', 'low'), (4,3,2,1), inplace = True)
data.n_puertas.replace(('2', '3', '4', '5more'), (1,2,3,4), inplace = True)
data.pasajeros.replace(('2', '4', 'more'), (1,2,3,), inplace = True)
data.t_maleta.replace(('small', 'med', 'big'), (1,2,3), inplace = True)
data.seguridad.replace(('low','med', 'high'), (1,2,3), inplace = True)

In [ ]:
data['clase'].replace(('unacc','acc','good','vgood'),(1,2,3,4), inplace = True)

In [ ]:
data.head(5)

   precio  mantenimiento  n_puertas  pasajeros  t_maleta  seguridad  clase
0       4              4          1          1         1          1      1
1       4              4          1          1         1          2      1
2       4              4          1          1         1          3      1
3       4              4          1          1         2          1      1
4       4              4          1          1         2          2      1

Recoendación de división de datos
80% Aprendizaje
20% Pruebas

In [ ]:
import numpy as np

In [ ]:
dataset = data.values
X = dataset[:,0:6]
Y = np.asarray(dataset[:,6], dtype = 'S6')

Ahora importamos el árbol desde sidekid learn (sklearn)

In [ ]:
from sklearn import tree
from sklearn.model_selection import train_test_split, cross_val_score 
from sklearn import metrics

Dividimos la imnformación tanto en entrenamiento como en pruebas

In [ ]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X,Y, test_size = 0.2, random_state=0)

Definimos el tamaño (profundidad) del árbol

In [ ]:
tr = tree.DecisionTreeClassifier(max_depth=10)  #El árbol tendrá 10 niveles

Ahora vamos a entrenar el modelo

In [ ]:
tr.fit(X_Train, Y_Train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=10, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

Corro el modelo pra que haga una predicción de ese arbol

In [ ]:
y_pred = tr.predict(X_Test)

In [ ]:
y_pred

array([b'1', b'1', b'1', b'1', b'1', b'3', b'1', b'2', b'2', b'1', b'1',
       b'1', b'2', b'1', b'1', b'2', b'1', b'1', b'2', b'1', b'3', b'2',
       b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'3', b'2', b'1',
       b'2', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'4', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'1',
       b'1', b'2', b'1', b'2', b'2', b'2', b'1', b'1', b'1', b'1', b'3',
       b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'4', b'1', b'2', b'2',
       b'1', b'1', b'1', b'2', b'1', b'4', b'2', b'1', b'2', b'1', b'1',
       b'1', b'1', b'1', b'2', b'1', b'3', b'1', b'1', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'3', b'1', b'1', b'1',
       b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'2', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1',
       b'1', b'1', b'1', b'1', b'2', b'2', b'2', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1',
       b'1', b'2', b'1', b'4', b'1', b'1', b'1', b'4', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'3', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'3',
       b'2', b'3', b'2', b'2', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'1', b'4', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'4', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'3', b'1', b'2', b'1',
       b'2', b'1', b'3', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'3', b'1', b'3', b'1', b'1', b'1', b'4', b'1', b'1',
       b'4', b'1', b'2', b'1', b'2'], dtype='|S6')

Vemos si el modelo está aprendiendo

In [ ]:
score = tr.score(X_Test, Y_Test)

In [ ]:
print('Precisión: %0.4f' % (score))

Precisión: 0.9769